@import "circles";

p {
  font-family: 'Oswald', sans-serif;
}

.bubble {
  position: relative;
  text-align: center;
  height: 75px;
  padding: 5px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #000000 solid 3px;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 14px 41px 14px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -41px;
  top: 16px;
}

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 16px 43px 16px 0;
  border-color: transparent #000000;
  display: block;
  width: 0;
  z-index: 0;
  left: -46px;
  top: 14px;
}

.magnifier {
  width: 100%;
  margin: auto;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
  }


}

.numbers {
  display: inline-block;
  margin-top: 10px;

  p {
    display: inline-block;
    margin: 4px;
    padding: 1px;
  }
}